<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactMechType">
            <h2><span jhiTranslate="hrApp.contactMechType.detail.title">Contact Mech Type</span> {{ contactMechType.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrApp.contactMechType.name">Name</span></dt>
                <dd>
                    <span>{{ contactMechType.name }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.contactMechType.description">Description</span></dt>
                <dd>
                    <span>{{ contactMechType.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-mech-type', contactMechType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
