<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workEffortAssocType">
            <h2><span jhiTranslate="hrApp.workEffortAssocType.detail.title">Work Effort Assoc Type</span> {{ workEffortAssocType.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrApp.workEffortAssocType.name">Name</span></dt>
                <dd>
                    <span>{{ workEffortAssocType.name }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.workEffortAssocType.description">Description</span></dt>
                <dd>
                    <span>{{ workEffortAssocType.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/work-effort-assoc-type', workEffortAssocType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
