<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-empl-position-type-rate-heading" jhiTranslate="hrApp.emplPositionTypeRate.home.createOrEditLabel">Create or edit a Empl Position Type Rate</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.emplPositionTypeRate.rateAmount" for="field_rateAmount">Rate Amount</label>
                    <input type="number" class="form-control" name="rateAmount" id="field_rateAmount"
                           formControlName="rateAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.emplPositionTypeRate.fromDate" for="field_fromDate">From Date</label>
                    <div class="input-group">
                        <input id="field_fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker #fromDateDp="ngbDatepicker" formControlName="fromDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.emplPositionTypeRate.thruDate" for="field_thruDate">Thru Date</label>
                    <div class="input-group">
                        <input id="field_thruDate" type="text" class="form-control" name="thruDate" ngbDatepicker #thruDateDp="ngbDatepicker" formControlName="thruDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="thruDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.emplPositionTypeRate.rateType" for="field_rateType">Rate Type</label>
                    <select class="form-control" id="field_rateType" name="rateType" formControlName="rateType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rateTypeOption.id === editForm.get('rateType')!.value?.id ? editForm.get('rateType')!.value : rateTypeOption" *ngFor="let rateTypeOption of ratetypes; trackBy: trackById">{{ rateTypeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.emplPositionTypeRate.emplPositionType" for="field_emplPositionType">Empl Position Type</label>
                    <select class="form-control" id="field_emplPositionType" name="emplPositionType" formControlName="emplPositionType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="emplPositionTypeOption.id === editForm.get('emplPositionType')!.value?.id ? editForm.get('emplPositionType')!.value : emplPositionTypeOption" *ngFor="let emplPositionTypeOption of emplpositiontypes; trackBy: trackById">{{ emplPositionTypeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.emplPositionTypeRate.payGrade" for="field_payGrade">Pay Grade</label>
                    <select class="form-control" id="field_payGrade" name="payGrade" formControlName="payGrade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="payGradeOption.id === editForm.get('payGrade')!.value?.id ? editForm.get('payGrade')!.value : payGradeOption" *ngFor="let payGradeOption of paygrades; trackBy: trackById">{{ payGradeOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
