<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-term-heading" jhiTranslate="hrApp.term.home.createOrEditLabel">Create or edit a Term</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.term.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 60 }">
                        This field cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.term.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.term.termDetail" for="field_termDetail">Term Detail</label>
                    <input type="text" class="form-control" name="termDetail" id="field_termDetail"
                           formControlName="termDetail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.term.termValue" for="field_termValue">Term Value</label>
                    <input type="number" class="form-control" name="termValue" id="field_termValue"
                           formControlName="termValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.term.termDays" for="field_termDays">Term Days</label>
                    <input type="number" class="form-control" name="termDays" id="field_termDays"
                           formControlName="termDays"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.term.textValue" for="field_textValue">Text Value</label>
                    <input type="text" class="form-control" name="textValue" id="field_textValue"
                           formControlName="textValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.term.termType" for="field_termType">Term Type</label>
                    <select class="form-control" id="field_termType" name="termType" formControlName="termType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="termTypeOption.id === editForm.get('termType')!.value?.id ? editForm.get('termType')!.value : termTypeOption" *ngFor="let termTypeOption of termtypes; trackBy: trackById">{{ termTypeOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
