<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="party">
            <h2><span jhiTranslate="hrApp.party.detail.title">Party</span> {{ party.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrApp.party.isOrganisation">Is Organisation</span></dt>
                <dd>
                    <span>{{ party.isOrganisation }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.organisationName">Organisation Name</span></dt>
                <dd>
                    <span>{{ party.organisationName }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.organisationShortName">Organisation Short Name</span></dt>
                <dd>
                    <span>{{ party.organisationShortName }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.salutation">Salutation</span></dt>
                <dd>
                    <span>{{ party.salutation }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.firstName">First Name</span></dt>
                <dd>
                    <span>{{ party.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{ party.middleName }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ party.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'hrApp.Gender.' + party.gender }}">{{ party.gender }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{ party.birthDate }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.primaryPhone">Primary Phone</span></dt>
                <dd>
                    <span>{{ party.primaryPhone }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.primaryEmail">Primary Email</span></dt>
                <dd>
                    <span>{{ party.primaryEmail }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.isTemporaryPassword">Is Temporary Password</span></dt>
                <dd>
                    <span>{{ party.isTemporaryPassword }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.logoImageUrl">Logo Image Url</span></dt>
                <dd>
                    <span>{{ party.logoImageUrl }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.profileImageUrl">Profile Image Url</span></dt>
                <dd>
                    <span>{{ party.profileImageUrl }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.notes">Notes</span></dt>
                <dd>
                    <span>{{ party.notes }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.birthdate">Birthdate</span></dt>
                <dd>
                    <span>{{ party.birthdate }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.dateOfJoining">Date Of Joining</span></dt>
                <dd>
                    <span>{{ party.dateOfJoining }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.trainingCompletedDate">Training Completed Date</span></dt>
                <dd>
                    <span>{{ party.trainingCompletedDate }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.jdApprovedOn">Jd Approved On</span></dt>
                <dd>
                    <span>{{ party.jdApprovedOn }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.employeeId">Employee Id</span></dt>
                <dd>
                    <span>{{ party.employeeId }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.authString">Auth String</span></dt>
                <dd>
                    <span>{{ party.authString }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.userGroupString">User Group String</span></dt>
                <dd>
                    <span>{{ party.userGroupString }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.tanNo">Tan No</span></dt>
                <dd>
                    <span>{{ party.tanNo }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.panNo">Pan No</span></dt>
                <dd>
                    <span>{{ party.panNo }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.gstNo">Gst No</span></dt>
                <dd>
                    <span>{{ party.gstNo }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.aadharNo">Aadhar No</span></dt>
                <dd>
                    <span>{{ party.aadharNo }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.party.user">User</span></dt>
                <dd>
                    {{ party.user?.login }}
                </dd>
                <dt><span jhiTranslate="hrApp.party.partyType">Party Type</span></dt>
                <dd>
                    <div *ngIf="party.partyType">
                        <a [routerLink]="['/party-type', party.partyType?.id, 'view']">{{ party.partyType?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hrApp.party.status">Status</span></dt>
                <dd>
                    <div *ngIf="party.status">
                        <a [routerLink]="['/status', party.status?.id, 'view']">{{ party.status?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party', party.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
