<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.employment.home.title">Employments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employment" [routerLink]="['/employment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.employment.home.createLabel">
            Create a new Employment
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employments?.length === 0">
        <span jhiTranslate="hrApp.employment.home.notFound">No employments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employments && employments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.employment.fromDate">From Date</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.employment.thruDate">Thru Date</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.employment.terminationReason">Termination Reason</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.employment.terminationType">Termination Type</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.employment.employee">Employee</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.employment.fromParty">From Party</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.employment.roleTypeFrom">Role Type From</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.employment.roleTypeTo">Role Type To</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employment of employments ;trackBy: trackId">
                    <td><a [routerLink]="['/employment', employment.id, 'view']">{{ employment.id }}</a></td>
                    <td>{{ employment.fromDate | date:'mediumDate' }}</td>
                    <td>{{ employment.thruDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="employment.terminationReason">
                            <a [routerLink]="['/reason', employment.terminationReason?.id, 'view']" >{{ employment.terminationReason?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employment.terminationType">
                            <a [routerLink]="['/termination-type', employment.terminationType?.id, 'view']" >{{ employment.terminationType?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employment.employee">
                            <a [routerLink]="['/party', employment.employee?.id, 'view']" >{{ employment.employee?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employment.fromParty">
                            <a [routerLink]="['/party', employment.fromParty?.id, 'view']" >{{ employment.fromParty?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employment.roleTypeFrom">
                            <a [routerLink]="['/role-type', employment.roleTypeFrom?.id, 'view']" >{{ employment.roleTypeFrom?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employment.roleTypeTo">
                            <a [routerLink]="['/role-type', employment.roleTypeTo?.id, 'view']" >{{ employment.roleTypeTo?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/employment', employment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employment', employment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(employment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
