<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.workEffortInventoryAssign.home.title">Work Effort Inventory Assigns</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-work-effort-inventory-assign" [routerLink]="['/work-effort-inventory-assign/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.workEffortInventoryAssign.home.createLabel">
            Create a new Work Effort Inventory Assign
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="workEffortInventoryAssigns?.length === 0">
        <span jhiTranslate="hrApp.workEffortInventoryAssign.home.notFound">No workEffortInventoryAssigns found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="workEffortInventoryAssigns && workEffortInventoryAssigns.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="hrApp.workEffortInventoryAssign.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="workEffort.id"><span jhiTranslate="hrApp.workEffortInventoryAssign.workEffort">Work Effort</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventoryItem.id"><span jhiTranslate="hrApp.workEffortInventoryAssign.inventoryItem">Inventory Item</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status.name"><span jhiTranslate="hrApp.workEffortInventoryAssign.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workEffortInventoryAssign of workEffortInventoryAssigns ;trackBy: trackId">
                    <td><a [routerLink]="['/work-effort-inventory-assign', workEffortInventoryAssign.id, 'view']">{{ workEffortInventoryAssign.id }}</a></td>
                    <td>{{ workEffortInventoryAssign.quantity }}</td>
                    <td>
                        <div *ngIf="workEffortInventoryAssign.workEffort">
                            <a [routerLink]="['/work-effort', workEffortInventoryAssign.workEffort?.id, 'view']" >{{ workEffortInventoryAssign.workEffort?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="workEffortInventoryAssign.inventoryItem">
                            <a [routerLink]="['/inventory-item', workEffortInventoryAssign.inventoryItem?.id, 'view']" >{{ workEffortInventoryAssign.inventoryItem?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="workEffortInventoryAssign.status">
                            <a [routerLink]="['/status', workEffortInventoryAssign.status?.id, 'view']" >{{ workEffortInventoryAssign.status?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/work-effort-inventory-assign', workEffortInventoryAssign.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/work-effort-inventory-assign', workEffortInventoryAssign.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(workEffortInventoryAssign)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="workEffortInventoryAssigns && workEffortInventoryAssigns.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
