<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.userGroupAuthority.home.title">User Group Authorities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-group-authority" [routerLink]="['/user-group-authority/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.userGroupAuthority.home.createLabel">
            Create a new User Group Authority
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userGroupAuthorities?.length === 0">
        <span jhiTranslate="hrApp.userGroupAuthority.home.notFound">No userGroupAuthorities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userGroupAuthorities && userGroupAuthorities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="authority"><span jhiTranslate="hrApp.userGroupAuthority.authority">Authority</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userGroup.name"><span jhiTranslate="hrApp.userGroupAuthority.userGroup">User Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userGroupAuthority of userGroupAuthorities ;trackBy: trackId">
                    <td><a [routerLink]="['/user-group-authority', userGroupAuthority.id, 'view']">{{ userGroupAuthority.id }}</a></td>
                    <td>{{ userGroupAuthority.authority }}</td>
                    <td>
                        <div *ngIf="userGroupAuthority.userGroup">
                            <a [routerLink]="['/user-group', userGroupAuthority.userGroup?.id, 'view']" >{{ userGroupAuthority.userGroup?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-group-authority', userGroupAuthority.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-group-authority', userGroupAuthority.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userGroupAuthority)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userGroupAuthorities && userGroupAuthorities.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
