<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-product-category-heading" jhiTranslate="hrApp.productCategory.home.createOrEditLabel">Create or edit a Product Category</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 60 }">
                        This field cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.longDescription" for="field_longDescription">Long Description</label>
                    <input type="text" class="form-control" name="longDescription" id="field_longDescription"
                           formControlName="longDescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.attribute" for="field_attribute">Attribute</label>
                    <input type="text" class="form-control" name="attribute" id="field_attribute"
                           formControlName="attribute"/>
                    <div *ngIf="editForm.get('attribute')!.invalid && (editForm.get('attribute')!.dirty || editForm.get('attribute')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attribute')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.sequenceNo" for="field_sequenceNo">Sequence No</label>
                    <input type="number" class="form-control" name="sequenceNo" id="field_sequenceNo"
                           formControlName="sequenceNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                           formControlName="imageUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.altImageUrl" for="field_altImageUrl">Alt Image Url</label>
                    <input type="text" class="form-control" name="altImageUrl" id="field_altImageUrl"
                           formControlName="altImageUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.info" for="field_info">Info</label>
                    <textarea class="form-control" name="info" id="field_info"
                              formControlName="info"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.productCategoryType" for="field_productCategoryType">Product Category Type</label>
                    <select class="form-control" id="field_productCategoryType" name="productCategoryType" formControlName="productCategoryType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryTypeOption.id === editForm.get('productCategoryType')!.value?.id ? editForm.get('productCategoryType')!.value : productCategoryTypeOption" *ngFor="let productCategoryTypeOption of productcategorytypes; trackBy: trackById">{{ productCategoryTypeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productCategory.parent" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" formControlName="parent">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryOption.id === editForm.get('parent')!.value?.id ? editForm.get('parent')!.value : productCategoryOption" *ngFor="let productCategoryOption of productcategories; trackBy: trackById">{{ productCategoryOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
