<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.facilityContactMech.home.title">Facility Contact Meches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facility-contact-mech" [routerLink]="['/facility-contact-mech/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.facilityContactMech.home.createLabel">
            Create a new Facility Contact Mech
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="facilityContactMeches?.length === 0">
        <span jhiTranslate="hrApp.facilityContactMech.home.notFound">No facilityContactMeches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="facilityContactMeches && facilityContactMeches.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fromDate"><span jhiTranslate="hrApp.facilityContactMech.fromDate">From Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thruDate"><span jhiTranslate="hrApp.facilityContactMech.thruDate">Thru Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facility.name"><span jhiTranslate="hrApp.facilityContactMech.facility">Facility</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactMech.id"><span jhiTranslate="hrApp.facilityContactMech.contactMech">Contact Mech</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactMechPurpose.id"><span jhiTranslate="hrApp.facilityContactMech.contactMechPurpose">Contact Mech Purpose</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let facilityContactMech of facilityContactMeches ;trackBy: trackId">
                    <td><a [routerLink]="['/facility-contact-mech', facilityContactMech.id, 'view']">{{ facilityContactMech.id }}</a></td>
                    <td>{{ facilityContactMech.fromDate | date:'medium' }}</td>
                    <td>{{ facilityContactMech.thruDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="facilityContactMech.facility">
                            <a [routerLink]="['/facility', facilityContactMech.facility?.id, 'view']" >{{ facilityContactMech.facility?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="facilityContactMech.contactMech">
                            <a [routerLink]="['/contact-mech', facilityContactMech.contactMech?.id, 'view']" >{{ facilityContactMech.contactMech?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="facilityContactMech.contactMechPurpose">
                            <a [routerLink]="['/contact-mech-purpose', facilityContactMech.contactMechPurpose?.id, 'view']" >{{ facilityContactMech.contactMechPurpose?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/facility-contact-mech', facilityContactMech.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/facility-contact-mech', facilityContactMech.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(facilityContactMech)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="facilityContactMeches && facilityContactMeches.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
