<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.uom.home.title">Uoms</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-uom" [routerLink]="['/uom/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.uom.home.createLabel">
            Create a new Uom
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="uoms?.length === 0">
        <span jhiTranslate="hrApp.uom.home.notFound">No uoms found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="uoms && uoms.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="hrApp.uom.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="hrApp.uom.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sequenceNo"><span jhiTranslate="hrApp.uom.sequenceNo">Sequence No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="abbreviation"><span jhiTranslate="hrApp.uom.abbreviation">Abbreviation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uomType.id"><span jhiTranslate="hrApp.uom.uomType">Uom Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let uom of uoms ;trackBy: trackId">
                    <td><a [routerLink]="['/uom', uom.id, 'view']">{{ uom.id }}</a></td>
                    <td>{{ uom.name }}</td>
                    <td>{{ uom.description }}</td>
                    <td>{{ uom.sequenceNo }}</td>
                    <td>{{ uom.abbreviation }}</td>
                    <td>
                        <div *ngIf="uom.uomType">
                            <a [routerLink]="['/uom-type', uom.uomType?.id, 'view']" >{{ uom.uomType?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/uom', uom.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/uom', uom.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(uom)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="uoms && uoms.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
