<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-supplier-product-heading" jhiTranslate="hrApp.supplierProduct.home.createOrEditLabel">Create or edit a Supplier Product</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.fromDate" for="field_fromDate">From Date</label>
                    <div class="d-flex">
                        <input id="field_fromDate" type="datetime-local" class="form-control" name="fromDate" formControlName="fromDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.thruDate" for="field_thruDate">Thru Date</label>
                    <div class="d-flex">
                        <input id="field_thruDate" type="datetime-local" class="form-control" name="thruDate" formControlName="thruDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.minOrderQty" for="field_minOrderQty">Min Order Qty</label>
                    <input type="number" class="form-control" name="minOrderQty" id="field_minOrderQty"
                           formControlName="minOrderQty"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.lastPrice" for="field_lastPrice">Last Price</label>
                    <input type="number" class="form-control" name="lastPrice" id="field_lastPrice"
                           formControlName="lastPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.shippingPrice" for="field_shippingPrice">Shipping Price</label>
                    <input type="number" class="form-control" name="shippingPrice" id="field_shippingPrice"
                           formControlName="shippingPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.supplierProductId" for="field_supplierProductId">Supplier Product Id</label>
                    <input type="text" class="form-control" name="supplierProductId" id="field_supplierProductId"
                           formControlName="supplierProductId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.leadTimeDays" for="field_leadTimeDays">Lead Time Days</label>
                    <input type="number" class="form-control" name="leadTimeDays" id="field_leadTimeDays"
                           formControlName="leadTimeDays"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.cgst" for="field_cgst">Cgst</label>
                    <input type="number" class="form-control" name="cgst" id="field_cgst"
                           formControlName="cgst"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.igst" for="field_igst">Igst</label>
                    <input type="number" class="form-control" name="igst" id="field_igst"
                           formControlName="igst"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.sgst" for="field_sgst">Sgst</label>
                    <input type="number" class="form-control" name="sgst" id="field_sgst"
                           formControlName="sgst"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.totalPrice" for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                           formControlName="totalPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                    <div *ngIf="editForm.get('comments')!.invalid && (editForm.get('comments')!.dirty || editForm.get('comments')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comments')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.supplierProductName" for="field_supplierProductName">Supplier Product Name</label>
                    <input type="text" class="form-control" name="supplierProductName" id="field_supplierProductName"
                           formControlName="supplierProductName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.manufacturerName" for="field_manufacturerName">Manufacturer Name</label>
                    <input type="text" class="form-control" name="manufacturerName" id="field_manufacturerName"
                           formControlName="manufacturerName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="product">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption" *ngFor="let productOption of products; trackBy: trackById">{{ productOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.supplier" for="field_supplier">Supplier</label>
                    <select class="form-control" id="field_supplier" name="supplier" formControlName="supplier">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="partyOption.id === editForm.get('supplier')!.value?.id ? editForm.get('supplier')!.value : partyOption" *ngFor="let partyOption of parties; trackBy: trackById">{{ partyOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.quantityUom" for="field_quantityUom">Quantity Uom</label>
                    <select class="form-control" id="field_quantityUom" name="quantityUom" formControlName="quantityUom">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="uomOption.id === editForm.get('quantityUom')!.value?.id ? editForm.get('quantityUom')!.value : uomOption" *ngFor="let uomOption of uoms; trackBy: trackById">{{ uomOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.currencyUom" for="field_currencyUom">Currency Uom</label>
                    <select class="form-control" id="field_currencyUom" name="currencyUom" formControlName="currencyUom">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="uomOption.id === editForm.get('currencyUom')!.value?.id ? editForm.get('currencyUom')!.value : uomOption" *ngFor="let uomOption of uoms; trackBy: trackById">{{ uomOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.supplierProduct.manufacturer" for="field_manufacturer">Manufacturer</label>
                    <select class="form-control" id="field_manufacturer" name="manufacturer" formControlName="manufacturer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="partyOption.id === editForm.get('manufacturer')!.value?.id ? editForm.get('manufacturer')!.value : partyOption" *ngFor="let partyOption of parties; trackBy: trackById">{{ partyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
