<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.workEffortStatus.home.title">Work Effort Statuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-work-effort-status" [routerLink]="['/work-effort-status/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.workEffortStatus.home.createLabel">
            Create a new Work Effort Status
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="workEffortStatuses?.length === 0">
        <span jhiTranslate="hrApp.workEffortStatus.home.notFound">No workEffortStatuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="workEffortStatuses && workEffortStatuses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reason"><span jhiTranslate="hrApp.workEffortStatus.reason">Reason</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="workEffort.id"><span jhiTranslate="hrApp.workEffortStatus.workEffort">Work Effort</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status.name"><span jhiTranslate="hrApp.workEffortStatus.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workEffortStatus of workEffortStatuses ;trackBy: trackId">
                    <td><a [routerLink]="['/work-effort-status', workEffortStatus.id, 'view']">{{ workEffortStatus.id }}</a></td>
                    <td>{{ workEffortStatus.reason }}</td>
                    <td>
                        <div *ngIf="workEffortStatus.workEffort">
                            <a [routerLink]="['/work-effort', workEffortStatus.workEffort?.id, 'view']" >{{ workEffortStatus.workEffort?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="workEffortStatus.status">
                            <a [routerLink]="['/status', workEffortStatus.status?.id, 'view']" >{{ workEffortStatus.status?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/work-effort-status', workEffortStatus.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/work-effort-status', workEffortStatus.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(workEffortStatus)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="workEffortStatuses && workEffortStatuses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
