<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-shift-heading" jhiTranslate="hrApp.shift.home.createOrEditLabel">Create or edit a Shift</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.shift.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.shift.fromTime" for="field_fromTime">From Time</label>
                    <div class="d-flex">
                        <input id="field_fromTime" type="datetime-local" class="form-control" name="fromTime" formControlName="fromTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.shift.toTime" for="field_toTime">To Time</label>
                    <div class="d-flex">
                        <input id="field_toTime" type="datetime-local" class="form-control" name="toTime" formControlName="toTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.shift.workingHrs" for="field_workingHrs">Working Hrs</label>
                    <input type="number" class="form-control" name="workingHrs" id="field_workingHrs"
                           formControlName="workingHrs"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.shift.monthlyPaidLeaves" for="field_monthlyPaidLeaves">Monthly Paid Leaves</label>
                    <input type="number" class="form-control" name="monthlyPaidLeaves" id="field_monthlyPaidLeaves"
                           formControlName="monthlyPaidLeaves"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
