<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.shift.home.title">Shifts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift" [routerLink]="['/shift/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.shift.home.createLabel">
            Create a new Shift
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shifts?.length === 0">
        <span jhiTranslate="hrApp.shift.home.notFound">No shifts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shifts && shifts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.shift.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.shift.fromTime">From Time</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.shift.toTime">To Time</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.shift.workingHrs">Working Hrs</span></th>
                    <th scope="col" ><span jhiTranslate="hrApp.shift.monthlyPaidLeaves">Monthly Paid Leaves</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shift of shifts ;trackBy: trackId">
                    <td><a [routerLink]="['/shift', shift.id, 'view']">{{ shift.id }}</a></td>
                    <td>{{ shift.name }}</td>
                    <td>{{ shift.fromTime | date:'medium' }}</td>
                    <td>{{ shift.toTime | date:'medium' }}</td>
                    <td>{{ shift.workingHrs }}</td>
                    <td>{{ shift.monthlyPaidLeaves }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shift', shift.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shift', shift.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shift)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
