<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-order-status-heading" jhiTranslate="hrApp.orderStatus.home.createOrEditLabel">Create or edit a Order Status</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.orderStatus.statusDateTime" for="field_statusDateTime">Status Date Time</label>
                    <div class="d-flex">
                        <input id="field_statusDateTime" type="datetime-local" class="form-control" name="statusDateTime" formControlName="statusDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.orderStatus.sequenceNo" for="field_sequenceNo">Sequence No</label>
                    <input type="number" class="form-control" name="sequenceNo" id="field_sequenceNo"
                           formControlName="sequenceNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.orderStatus.status" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" formControlName="status">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="statusOption.id === editForm.get('status')!.value?.id ? editForm.get('status')!.value : statusOption" *ngFor="let statusOption of statuses; trackBy: trackById">{{ statusOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.orderStatus.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" formControlName="order">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderOption.id === editForm.get('order')!.value?.id ? editForm.get('order')!.value : orderOption" *ngFor="let orderOption of orders; trackBy: trackById">{{ orderOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.orderStatus.reason" for="field_reason">Reason</label>
                    <select class="form-control" id="field_reason" name="reason" formControlName="reason">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reasonOption.id === editForm.get('reason')!.value?.id ? editForm.get('reason')!.value : reasonOption" *ngFor="let reasonOption of reasons; trackBy: trackById">{{ reasonOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
