<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shiftWeekends">
            <h2><span jhiTranslate="hrApp.shiftWeekends.detail.title">Shift Weekends</span> {{ shiftWeekends.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrApp.shiftWeekends.fromDate">From Date</span></dt>
                <dd>
                    <span>{{ shiftWeekends.fromDate }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.shiftWeekends.thruDate">Thru Date</span></dt>
                <dd>
                    <span>{{ shiftWeekends.thruDate }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.shiftWeekends.shift">Shift</span></dt>
                <dd>
                    <div *ngIf="shiftWeekends.shift">
                        <a [routerLink]="['/shift', shiftWeekends.shift?.id, 'view']">{{ shiftWeekends.shift?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shift-weekends', shiftWeekends.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
