<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-product-price-heading" jhiTranslate="hrApp.productPrice.home.createOrEditLabel">Create or edit a Product Price</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.fromDate" for="field_fromDate">From Date</label>
                    <div class="d-flex">
                        <input id="field_fromDate" type="datetime-local" class="form-control" name="fromDate" formControlName="fromDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.thruDate" for="field_thruDate">Thru Date</label>
                    <div class="d-flex">
                        <input id="field_thruDate" type="datetime-local" class="form-control" name="thruDate" formControlName="thruDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.cgst" for="field_cgst">Cgst</label>
                    <input type="number" class="form-control" name="cgst" id="field_cgst"
                           formControlName="cgst"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.igst" for="field_igst">Igst</label>
                    <input type="number" class="form-control" name="igst" id="field_igst"
                           formControlName="igst"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.sgst" for="field_sgst">Sgst</label>
                    <input type="number" class="form-control" name="sgst" id="field_sgst"
                           formControlName="sgst"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.totalPrice" for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                           formControlName="totalPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="product">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption" *ngFor="let productOption of products; trackBy: trackById">{{ productOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.productPriceType" for="field_productPriceType">Product Price Type</label>
                    <select class="form-control" id="field_productPriceType" name="productPriceType" formControlName="productPriceType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productPriceTypeOption.id === editForm.get('productPriceType')!.value?.id ? editForm.get('productPriceType')!.value : productPriceTypeOption" *ngFor="let productPriceTypeOption of productpricetypes; trackBy: trackById">{{ productPriceTypeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.productPricePurpose" for="field_productPricePurpose">Product Price Purpose</label>
                    <select class="form-control" id="field_productPricePurpose" name="productPricePurpose" formControlName="productPricePurpose">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productPricePurposeOption.id === editForm.get('productPricePurpose')!.value?.id ? editForm.get('productPricePurpose')!.value : productPricePurposeOption" *ngFor="let productPricePurposeOption of productpricepurposes; trackBy: trackById">{{ productPricePurposeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.productPrice.currencyUom" for="field_currencyUom">Currency Uom</label>
                    <select class="form-control" id="field_currencyUom" name="currencyUom" formControlName="currencyUom">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="uomOption.id === editForm.get('currencyUom')!.value?.id ? editForm.get('currencyUom')!.value : uomOption" *ngFor="let uomOption of uoms; trackBy: trackById">{{ uomOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
