<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="examType">
            <h2><span jhiTranslate="hrApp.examType.detail.title">Exam Type</span> {{ examType.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrApp.examType.name">Name</span></dt>
                <dd>
                    <span>{{ examType.name }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.examType.description">Description</span></dt>
                <dd>
                    <span>{{ examType.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exam-type', examType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
