<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="communicationEventType">
            <h2><span jhiTranslate="hrApp.communicationEventType.detail.title">Communication Event Type</span> {{ communicationEventType.id }}</h2>

            <hr>

            <sys-alert-error></sys-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrApp.communicationEventType.name">Name</span></dt>
                <dd>
                    <span>{{ communicationEventType.name }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.communicationEventType.description">Description</span></dt>
                <dd>
                    <span>{{ communicationEventType.description }}</span>
                </dd>
                <dt><span jhiTranslate="hrApp.communicationEventType.contactMechType">Contact Mech Type</span></dt>
                <dd>
                    <div *ngIf="communicationEventType.contactMechType">
                        <a [routerLink]="['/contact-mech-type', communicationEventType.contactMechType?.id, 'view']">{{ communicationEventType.contactMechType?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/communication-event-type', communicationEventType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
