<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.productCategoryMember.home.title">Product Category Members</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-category-member" [routerLink]="['/product-category-member/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.productCategoryMember.home.createLabel">
            Create a new Product Category Member
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productCategoryMembers?.length === 0">
        <span jhiTranslate="hrApp.productCategoryMember.home.notFound">No productCategoryMembers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productCategoryMembers && productCategoryMembers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fromDate"><span jhiTranslate="hrApp.productCategoryMember.fromDate">From Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thruDate"><span jhiTranslate="hrApp.productCategoryMember.thruDate">Thru Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sequenceNo"><span jhiTranslate="hrApp.productCategoryMember.sequenceNo">Sequence No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="product.name"><span jhiTranslate="hrApp.productCategoryMember.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productCategory.name"><span jhiTranslate="hrApp.productCategoryMember.productCategory">Product Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productCategoryMember of productCategoryMembers ;trackBy: trackId">
                    <td><a [routerLink]="['/product-category-member', productCategoryMember.id, 'view']">{{ productCategoryMember.id }}</a></td>
                    <td>{{ productCategoryMember.fromDate | date:'medium' }}</td>
                    <td>{{ productCategoryMember.thruDate | date:'medium' }}</td>
                    <td>{{ productCategoryMember.sequenceNo }}</td>
                    <td>
                        <div *ngIf="productCategoryMember.product">
                            <a [routerLink]="['/product', productCategoryMember.product?.id, 'view']" >{{ productCategoryMember.product?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="productCategoryMember.productCategory">
                            <a [routerLink]="['/product-category', productCategoryMember.productCategory?.id, 'view']" >{{ productCategoryMember.productCategory?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-category-member', productCategoryMember.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-category-member', productCategoryMember.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productCategoryMember)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="productCategoryMembers && productCategoryMembers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
