<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="sys-payment-application-heading" jhiTranslate="hrApp.paymentApplication.home.createOrEditLabel">Create or edit a Payment Application</h2>

            <div>
                <sys-alert-error></sys-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.paymentApplication.amountApplied" for="field_amountApplied">Amount Applied</label>
                    <input type="number" class="form-control" name="amountApplied" id="field_amountApplied"
                           formControlName="amountApplied"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.paymentApplication.payment" for="field_payment">Payment</label>
                    <select class="form-control" id="field_payment" name="payment" formControlName="payment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentOption.id === editForm.get('payment')!.value?.id ? editForm.get('payment')!.value : paymentOption" *ngFor="let paymentOption of payments; trackBy: trackById">{{ paymentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.paymentApplication.invoice" for="field_invoice">Invoice</label>
                    <select class="form-control" id="field_invoice" name="invoice" formControlName="invoice">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invoiceOption.id === editForm.get('invoice')!.value?.id ? editForm.get('invoice')!.value : invoiceOption" *ngFor="let invoiceOption of invoices; trackBy: trackById">{{ invoiceOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.paymentApplication.invoiceItem" for="field_invoiceItem">Invoice Item</label>
                    <select class="form-control" id="field_invoiceItem" name="invoiceItem" formControlName="invoiceItem">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invoiceItemOption.id === editForm.get('invoiceItem')!.value?.id ? editForm.get('invoiceItem')!.value : invoiceItemOption" *ngFor="let invoiceItemOption of invoiceitems; trackBy: trackById">{{ invoiceItemOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.paymentApplication.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" formControlName="order">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderOption.id === editForm.get('order')!.value?.id ? editForm.get('order')!.value : orderOption" *ngFor="let orderOption of orders; trackBy: trackById">{{ orderOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.paymentApplication.orderItem" for="field_orderItem">Order Item</label>
                    <select class="form-control" id="field_orderItem" name="orderItem" formControlName="orderItem">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderItemOption.id === editForm.get('orderItem')!.value?.id ? editForm.get('orderItem')!.value : orderItemOption" *ngFor="let orderItemOption of orderitems; trackBy: trackById">{{ orderItemOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrApp.paymentApplication.toPayment" for="field_toPayment">To Payment</label>
                    <select class="form-control" id="field_toPayment" name="toPayment" formControlName="toPayment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentOption.id === editForm.get('toPayment')!.value?.id ? editForm.get('toPayment')!.value : paymentOption" *ngFor="let paymentOption of payments; trackBy: trackById">{{ paymentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
