<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrApp.orderContactMech.home.title">Order Contact Meches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-contact-mech" [routerLink]="['/order-contact-mech/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrApp.orderContactMech.home.createLabel">
            Create a new Order Contact Mech
            </span>
        </button>
    </h2>

    <sys-alert-error></sys-alert-error>

    <sys-alert></sys-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orderContactMeches?.length === 0">
        <span jhiTranslate="hrApp.orderContactMech.home.notFound">No orderContactMeches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orderContactMeches && orderContactMeches.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fromDate"><span jhiTranslate="hrApp.orderContactMech.fromDate">From Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thruDate"><span jhiTranslate="hrApp.orderContactMech.thruDate">Thru Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="order.id"><span jhiTranslate="hrApp.orderContactMech.order">Order</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactMech.id"><span jhiTranslate="hrApp.orderContactMech.contactMech">Contact Mech</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactMechPurpose.id"><span jhiTranslate="hrApp.orderContactMech.contactMechPurpose">Contact Mech Purpose</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderContactMech of orderContactMeches ;trackBy: trackId">
                    <td><a [routerLink]="['/order-contact-mech', orderContactMech.id, 'view']">{{ orderContactMech.id }}</a></td>
                    <td>{{ orderContactMech.fromDate | date:'medium' }}</td>
                    <td>{{ orderContactMech.thruDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="orderContactMech.order">
                            <a [routerLink]="['/order', orderContactMech.order?.id, 'view']" >{{ orderContactMech.order?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orderContactMech.contactMech">
                            <a [routerLink]="['/contact-mech', orderContactMech.contactMech?.id, 'view']" >{{ orderContactMech.contactMech?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orderContactMech.contactMechPurpose">
                            <a [routerLink]="['/contact-mech-purpose', orderContactMech.contactMechPurpose?.id, 'view']" >{{ orderContactMech.contactMechPurpose?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order-contact-mech', orderContactMech.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order-contact-mech', orderContactMech.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orderContactMech)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="orderContactMeches && orderContactMeches.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
